:root {
    --matte-black: #090A0A;
    --wecode-gray: #CED7DF;
    --wecode-gray-selected: #7b7f83;
    --nav-height: 3rem;
    --editor-line-height: 1.5;
    --editor-text-size: 16px;
}

* {
    box-sizing: border-box;
}

textarea {
    resize: none;
}

body {
    margin: 0 0;
    padding: 0 0;
    background-color: var(--matte-black)
}


.viewport {
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
}
.nav-holder {
    position: sticky;
    display: flex;
    height: var(--nav-height);
    justify-content: center;
    width: 100%;
    background-color: var(--wecode-gray);
}

.nav {
    /* padding-left: 1rem; */
    display: flex;
    /* height: var(--nav-height); */
    justify-content: space-evenly;
    border-color: white;
    border-width: 2px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.nav-btn {
    font-weight: bold;
    padding: 0 1.5rem;
    display: flex;
    gap: 2px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    background-color: var(--wecode-gray);
    color: black;

}

.btn-selected {
    background-color:var(--matte-black);
    color: white;
}
/* 
.nav-btn:hover {
    outline: none;
    border: none;
    background-color: var(--wecode-gray-hover);
} */

.editor {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.line-number {
    padding-top: 8px; /* completely eyeballed */
    display: flex;
    width: 10%;
    color: white;
    justify-content: center;
    line-height: var(--editor-line-height);
    font-size: var(--editor-text-size);
    border-right: 2px solid var(--wecode-gray-selected);
    text-align: center;
}
.editor-box {
    padding-top: 8px;
    margin-left: 3px;;
    outline: none;
    border: none;
    color: white;
    height: inherit;
    width: 100%;
    line-height: var(--editor-line-height);
    background-color: var(--matte-black);
    font-size: var(--editor-text-size);
}

.tab-holder {
    width: 100%;
    height: 100vh;
}
.tab {
    width: 100%;
    height: calc(100vh - var(--nav-height));
    /* top: 3rem; */
}


#oogabooga {
    display: flex;
    justify-content: center;
}

.console {
    border-top-color: white;
    border-top-width: 100%;
    border-top-style: dashed;
    color: white;
    padding-top: 0.2rem;
    padding-left: 0.5rem;
    /* width: 100%; */
}

#turtle-canvas {
    width: 400px;
    height: 400px;
    margin: 50px;
}

.off {
    display: none;
}