/* its so fuckin difficult ot figure out a balance of sticky bottom */

:root {
    --matte-black: #090A0A;
    --gutter-border-gray: #272727;
    --gutter-line-color: #777;
    --wecode-gray: #CED7DF;
    --wecode-gray-selected: #7b7f83;
    --nav-height: 45px;
    --editor-line-height: 1.5;
    --editor-text-size: 16px;
}

@font-face {
     font-family: FiraMedium; src: url('fonts/FiraCode-Medium.ttf'); 
}

@font-face {
     font-family: FiraLight; src: url('fonts/FiraCode-Light.ttf'); 
}


* {
    box-sizing: border-box;
}

textarea {
    resize: none;
}

body {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 0;
    padding: 0 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: var(--matte-black);
    overflow-y: hidden;
}

/* .nav-holder {
    position: sticky;
    display: flex;
    height: var(--nav-height);
    justify-content: center;
    
} */

.nav {
    z-index: 100;
    position: sticky;
    bottom: 0;
    background-color: var(--wecode-gray);
    width: 100%;
    display: flex;
    min-height: var(--nav-height);
    justify-content: space-evenly;

}

.nav-btn {
    /* font-weight: bold; */
    font-family: FiraMedium;
    padding: 0 5%;
    padding-top: 5px;
    display: flex;
    gap: 2px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    outline: none;
    border: none;
    background-color: var(--wecode-gray);
    color: black;
    cursor: pointer;
}

.nav-btn-selected {
    background-color:var(--matte-black);
    color: white;
}

.editor {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: inherit;
    line-height: var(--editor-line-height);
}

.line-number {
    padding-top: 8px; /* completely eyeballed */
    display: flex;
    width: 10%;
    color: white;
    justify-content: center;
    line-height: var(--editor-line-height);
    font-size: var(--editor-text-size);
    border-right: 2px solid var(--wecode-gray-selected);
    text-align: center;
}


.tab-wrapper {
    height: 100%;
    width: 100%;
}

.console {
    font-family: FiraLight;
    width: 100%;
    border-top: 3px dashed #777;
    color: var(--wecode-gray);
    padding: 0.2rem 0.5rem;
    overflow: auto;
    white-space: pre;
    scrollbar-gutter: stable;
    scrollbar-width: thin;
}

.drawer {
    display: flex;
    flex-direction: column;
    height: calc(100% - var(--nav-height))
}

.canvas-wrapper {
    display: flex;
    justify-content: center;
    min-width: 300px;
    min-height: 300px;
}

#turtle-canvas {
    aspect-ratio: 1 / 1;
    height: 100%;
}

.off {
    display: none;
}

/* Icon Declarations */
/* 
.icon {
    background: no-repeat;
    display: inline-block;
    background-size: cover;
    height: 20px;
    width: 20px;
}

.run {
    background-image: url('icons/run.svg');
}

.code {
    background-image: url('icons/code.svg');
}

.drawn {
    background-image: url('icons/drawn.svg');
} */

/* Ace Editor Theme Modifications */

.ace-tomorrow-night-bright {
    background-color: var(--matte-black);
    color: var(--wecode-gray)
}

.ace-tomorrow-night-bright .ace_gutter {
    background: none;
    color: var(--gutter-line-color);
    border-right: 1px solid var(--gutter-border-gray);
}

.ace-tomorrow-night-bright .ace-active-line {
    background-color: none;
}